html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
  min-height: 800px;
  font-family: 'helvetica neue';
}
h1 {
  color: #fff;
  padding: 10px;
}
#header {
  background-color: #A683E3;
  text-align: center;
  max-width: 400px;
  margin: 50px auto;
}
.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
form.item{
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #A683E3;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}
input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
  margin-bottom: 30px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #A683E3;
}

::placeholder {
  color: grey;
  opacity: 1;
}
p{
  display: inline-block;
  margin:2px 30px;
  font-size: 20px;
  font-weight: 200;
}
.tab-link{
  cursor:pointer;
  position: relative;
}
.tab-link::after{
  content:'';
height:3px;
width:0px;
background-color: #A683E3;
position: absolute;
left:0px;
bottom:-6px;
transition:0.5s;
}
.tab-link.active-link::after{
  width:50%;
}
.tab-contents{
  display:none;
}
.active-tab{
  display:block;
}
.all input[type="text"] {
  width:250px;
}
.pending input[type="text"] {
  width:250px;
}
.complete input[type="text"] {
  width:250px;
}


.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+input {
  text-decoration: line-through;
  text-decoration-color: #A683E3;
}

input[type="checkbox"] {
  margin: 20px;
}
